@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/montserrat/Montserrat-Bold.ttf") format("truetype"); }

/*  *******************************************************************
	GLOBAL STYLES
	*******************************************************************/
::selection {
  background-color: #383838;
  color: #efefef; 
}

::moz-selection {
  background-color: #383838;
  color: #efefef; 
}

body {
  background-color: #efefef; 
}

a {
  text-decoration: none; 
  color: #FFFFFF;
  }
  a:hover, a:visited, a:link, a:active {
    text-decoration: none; 
  }

.head{
  background-color: #FF6F00;
  height: 22px;
}

.logo-head{
  background-color: #383838;
  height: 75px;
}

.portfolio-img{
  padding: 5px;
  max-height: 200px;
  margin: 0 auto;
}

.logo-head-img{
  max-height: 75px;
  padding-left: 60px;
  max-width: 300px;
}

.advisory-img{
  max-height: 200px;
  display:block;
  margin:auto;
}

.content-pad{
  padding-left: 15%;
  padding-top: 50px;
  padding-right: 10%;
  text-align: center;
}

.content-pad-head{
  font-size: 38px;
  padding-top: 50px;
  text-align: center;
}

.content-pad-description{
  font-size: 18px;
}

.full{
  min-height: 98%;
  padding-top: 50px;
}

.half{
  min-height: 50%;
}

.top{
  background-color: rgba(56,56,56,.7);
}

.dark-bg{
  background-color: #383838;
  color: #FFFFFF;
}

.light-bg{
  background-color: #efefef;
  color: #383838;
}

.parallax-orange{
  font-size: 34px;
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  /*background-color: rgba(247,147,32,.75);*/
  padding: 5px;
}

.parallax-grey{
  font-size: 34px;
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  /*background-color: rgba(56,56,56,.75);*/
  padding: 5px;
}

.parallax-curriculum { 
    /* The image used */
    background-image: url("../assets/images/home-images/curriculum.png");

    /* Set a specific height */
    height: 30%;

    /* Create the parallax scrolling effect by uncommenting this*/
    /*background-attachment: fixed;*/
    background-position: 30% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items:center;
    /*padding-bottom: 8%;*/
}

.parallax-dinner { 
    /* The image used */
    background-image: url("../assets/images/home-images/firesidechats.png");

    /* Set a specific height */
    height: 30%;

    /* Create the parallax scrolling effect by uncommenting this*/
    /*background-attachment: fixed;*/
    background-position: 79% 79%;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items:center;
    /*padding-bottom: 8%;*/
}

.parallax-workshop { 
    /* The image used */
    background-image: url("../assets/images/home-images/workshops.png");

    /* Set a specific height */
    height: 30%;

    /* Create the parallax scrolling effect by uncommenting this*/
    /*background-attachment: fixed;*/
    background-position: 35% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items:center;
    /*padding-bottom: 8%;*/
}

.parallax-demo { 
    /* The image used */
    background-image: url("../assets/images/home-images/demonight.png");

    /* Set a specific height */
    height: 30%;

    /* Create the parallax scrolling effect by uncommenting this*/
    /*background-attachment: fixed;*/
    background-position: 55% 55%;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items:center;
    /*padding-bottom: 8%;*/
}

.foot{
  background-color: #FF6F00;
  min-height: 100px;
  text-align: center;
  font-family: "Montserrat", Arial, sans-serif;
  padding-top: 10px;
}

.navbar{
  font-size: 14px;
  text-align: center;
}

.title{
  font-size: 40px;
  color: #FFFFFF;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.title-bottom{
  font-size: 40px;
  color: #FFFFFF;
  position: absolute;
  left: 0; right: 0; bottom: 10;
  width: auto;
  margin: 0 auto;
}

.padB{
  padding-bottom: 50px;
}

.title-img{
  display:block;
  margin:auto;
  max-height: 120px;
}

.img-center{
  display:block;
  margin:auto;
}

.pad{
  padding-right: 25px;
}

.padLR{
  padding-left: 50px;
  padding-right: 50px;
}

.padT{
  padding-top: 25px;
}

.role-img{
  max-height: 150px;
  margin: 0 auto;
}
.role-header2{
  font-size: 42px;
}
.role-header{
  font-size: 36px;
}
.role-header5{
  font-size: 22px;
}
.role-body-text{
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (max-width: 760px) {
    #role-text {
        display: none;
    }
}

/*  *******************************************************************
	BUTTONS
	*******************************************************************/
.social-button {
  width: 200px;
  margin: 30px auto 0 auto;
  /*padding: 20px 20px;*/
  color: inherit;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 0.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: none;
  border: none;
  outline: none;
  /*display: block;*/
  /*position: relative;*/
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.button {
  width: 200px;
  margin: 30px auto 0 auto;
  padding: 20px 20px;
  color: inherit;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 0.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: none;
  border: none;
  outline: none;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.button-default {
  color: #FF6F00;
  border: 3px solid #FF6F00; }
  .button-default:hover, .button-default:active {
    color: #efefef;
    background: #FF6F00; }

.button-alternate {
  color: #efefef;
  border: 3px solid #efefef; }
  .button-alternate:hover, .button-alternate:active {
    color: #FF6F00;
    background: #efefef; }

.btn-2:hover,
.btn-2:active {
  color: #db674e;
  background: #FFFFFF;
  cursor: pointer; }

/*  *******************************************************************
	PAGE HEADER
	*******************************************************************/
.page-header {
  height: 100%;
  background-image: url("../assets/images/video-fallback.jpg");
  background-color: #383838;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: block;
  position: relative; }

.header-text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 3; }
  .header-text h1 {
    /*	http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
    	CSS-hack for replacing text with an image while still maintaining accessibility (for instance, screen readers cannot read an image).
    	(Adaptation of Phark's Accessibility Image Replacement – text-indent: -9999px; - which is an improvement on performance because the browser no longer needs to draw a box 9999px off-screen.)
    */
    margin-top: -10px;
    color: #FFFFFF;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1.40em; }

.header-overlay {
  width: 100%;
  height: 100%;
  background: #383838;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.background-video {
  width: 100%;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

@media (max-width: 1165px) {
  .background-video {
    display: none; 
    } 
  }
@media (max-width: 950px) {
  .page-header {
    background-image: url("../assets/images/photos/2014-fall/pitch-night/0002-dapper.jpg"); 
  }

  .text-logo {
    width: 30%; 
  }

  .lava-logo {
    width: 15%; 
    } 
  }

@media (max-width: 780px) {
  .text-logo {
    width: 44%; 
  }

  .lava-logo {
    width: 18%; 
  } 
}

@media (max-width: 480px) {
  .text-logo {
    width: 60%; 
  }

  .lava-logo {
    width: 35%; 
  } 
}

.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-header button {
  color: #FFFFFF;
  font-size: 1.5em;
  font-family: "Montserrat", Arial, sans-serif;
  float: right;
  background: none;
  border: none;
}

.modal-header h4 {
  font-size: 2em;
  font-family: "Montserrat", Arial, sans-serif;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  font-size: 1.15em;
  line-height: 28px;

  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.0;
  filter: alpha(opacity=50);
}
.modal-header {
  color: #FFFFFF;
  padding: 50px 50px 50px 50px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;

  background: #FF6F00;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 45px;
}
.modal-footer {
  padding-bottom: 30px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-wrapper{
  max-width: 80%;
  margin: 0 auto;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info {
   }
.vid-info h1 { font-size: 2rem;
   font-weight: 700;
   margin-top: 0;
   line-height: 1.2;
   }
.vid-info a { display: block;
   color: #fff;
   text-decoration: none;
   /*background: rgba(0,0,0,0.2);*/
   transition: .6s background;
   margin: 1rem auto;
   text-align: center;
   }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%;
     top: -100%;
     }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%;
     left: -100%;
     }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%;
   padding: .5rem;
   }
.vid-info h1 { margin-bottom: .2rem;
   }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none;
   }
}

