.container {
  text-align: center;
}

.landing {
  width: 100vw;
  height: 100vh;
}

.landing img {
  padding-top: 15vh;
  width: 40vw;
}

.landing h1 {
  color: white;
  margin: 0 auto;
}

.top {
    height:0;
    border-width:75px 0px 0px 100vw;
    border-style:solid;
    border-color:transparent transparent orange orange;
}

.newCohort {
  width: 100vw;
  height: 100vh;
  background-color: orange;
}

.newCohort h1 {
  padding-top: 5vh;
  margin: 0 auto;
  font-weight: 700;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -101%; }
}
